html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top;
  background-color: #f2f4f3;
}
.ltitle {
  font-size: 5rem;
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  width: 100em;
  text-align: center;
}
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6d6d6d;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #ffffff;
}
.lcontain {
  margin-top: 50vh;
  width: 100vh;
  height: 12vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1-input {
  font-size: 5rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
.signup-body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.submit-b {
  margin-top: 5px;
}
.user-in {
  margin-top: 5px;
  margin-bottom: 5px;
}
.input-square {
  width: 350px;
  height: 300px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.158),
    5px 5px rgba(255, 255, 255, 0.144);
}
.dash {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.h1-user {
  font-size: 2.5rem;
  color: white;
}
.recipe-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-direction: column-reverse;
  background-color: white;
}
.h1-recipes {
  font-size: 2.8rem;
}
.recipe-details {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  background-color: rgb(255, 255, 255);
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.8rem;
}
div {
  font-size: 1.8rem;
}
html {
  background-color: black;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: white;
}
